.line{
    border-bottom: 1px solid lightblue;
    padding-bottom: 10px;
}
.size{
    font-size: 22px;
    margin: 0;
}
.box:hover{
    border: 2px solid rgb(122, 108, 201);
    padding: 8px;
    border-radius: 5px;
    
    
}