<div class="panel panel-default">
  <div class="panel-body">

    <a routerLink='/india' class="anchor">
      <img src="./assets/images/jobs/map-marker.svg" width="2%" style="padding-bottom: 7px">
      <b style="font-size: 18px">All India</b>
      <small>(Select your city to see local ads)</small>
    </a>
  </div>
</div>

<div class="col-sm-12 ">

  <div class="col-xs-2">

    <img src="{{ category.images }}">
  </div>
  <span class="col-sm-10">
    <p class="size">
      {{category.categoryName}}
    </p>
    1,78,016 Ads
    <br>
    <a routerLink='null'>View all Ads
      <span> >> </span>
    </a>
  </span>


  <div class="col-sm-12" style="padding-top: 30px">
    <div class="col-sm-2 box text-center" *ngFor="let image of category.categoryImages">


      <a routerLink=''>
        <img src="{{ image.image }}">
      </a>
      <p >
         {{ image.name }}
        </p>
    </div>

  </div>
</div>